# Project Title
## Participants:
### Data Source

In [12]:
# Data Analysis Job Market

In [13]:
# Import dependencies
import pandas as pd
import numpy as np
#import matplot.lib.pyplot as plt
from scipy.stats import linregress
from pathlib import Path

In [14]:
#Import csv file

csv_path = Path("Code/data_science_job.csv")

# Read the CSV into a Pandas DataFrame
data_analysis_df = pd.read_csv(csv_path)

In [11]:
# Create a Dataframe

data_analysis_df.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022,Machine Learning Engineer in office,Analysis,EUR,186597,136086,US,MI,CT,Remote,DE,L
1,2020,Statistician (Remote),ML/AI,JPY,110630,67982,JP,EX,FL,Remote,IN,M
2,2022,Machine Learning Engineer,ML/AI,INR,61280,153309,UK,MI,CT,Hybrid,CN,L
3,2022,Data Analyst in office,ML/AI,JPY,154130,135242,DE,SE,FT,Hybrid,MX,L
4,2020,Statistician,Data Science,EUR,172312,35156,UK,MI,FT,In-person,UK,S

In [ ]:
# Rename Columns

In [ ]:
# Cleaning the Data - remove the columns "salary_currency" and "salary column"

In [ ]:
# Understand the data limitations - columns with blank rows to build visuals and what columns to use

In [ ]:
# create some graphs and bargraphs, etc....salaries,

In [ ]:
#Resave the file as json

In [ ]:
#Visuals in json

In [ ]:
# Create a leaflet map to show locattions with markers. 
#Geographical Analysis: Visualizing popular job locations for data science roles.